.mainHistoryDiv {
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


.lastVideos {
    width: 400px;
    height: 500px;
    border: 5px #EFA9B8 solid;
    border-radius: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    width: 400px;
    height: 500px;
    border: 5px #EFA9B8 solid;
    border-radius: 50px;
    /* display: flex;
    justify-content: center; */
    margin: 50px;
    color: #EFA9B8;
    font-size: 45px;
}

.icon {
    width: 40px;
    height: 40px;
    color: #E48F9F;
}