.css-1999axt-MuiAvatar-root {
    background-color: #EFA9B8 !important;
}

.css-binzgt {
    margin-top: 20px !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
    background-color: #bdbdbd !important;
}

.css-1n7zltw-MuiButtonBase-root-MuiButton-root {
    background-color: #bdbdbd !important;
}